  <div class="contain">
    <a href="#" class="button notificationicon on">See comments</a>

    <ul id="notificationMenu" class="notifications">
      <li class="titlebar">
        <span class="title">Notifications</span>
        <span class="settings"><i class="icon-cog"></i>
        </span>
      </li>
      <div class="notifbox">
        <li class=" notif unread">

            <div class="imageblock">
              <img src="https://si0.twimg.com/profile_images/3186728694/7a0e012910e06dd1476c5edac8b9a28d_bigger.jpeg" class="notifimage"  />
            </div>
            <div class="messageblock">
              <div class="message">This guy <strong>Jonesy</strong> has just built a tower.
              </div>
              <div class="messageinfo">
                <i class="icon-trophy"></i>2 hours ago
              </div>
            </div>

        </li>
        <li class=" notif unread">

            <div class="imageblock">
              <img src="https://si0.twimg.com/profile_images/712543138/Self-Portrait-in-Stripes_bigger.jpg" class="notifimage"  />
            </div>
            <div class="messageblock">
              <div class="message">
                <strong>Pete Nawara</strong> want's to drink beer with you
              </div>
              <div class="messageinfo">
                <i class="icon-flag"></i>3 hour ago
              </div>
            </div>
        </li>

        <li class=" notif">
            <div class="imageblock"><img src="https://si0.twimg.com/profile_images/3312733808/5caeaec6d93114657c40fb257f933d28_bigger.jpeg" class="notifimage" />
            </div>
            <div class="messageblock">
              <div class="message"><strong>Gary LaPlante</strong> has talked some trash: "<em>Buncha bitches.</em>
              </div>
              <div class="messageinfo">
                <i class="icon-comment"></i>4 hours ago
              </div>
            </div>
        </li>

        <li class=" notif">
            <div class="imageblock"><img src="https://si0.twimg.com/profile_images/378800000168755934/c05afa029d7e42c59e7cca0ea0564a86_bigger.jpeg" class="notifimage" /></div>
            <div class="messageblock">
              <div class="message"><strong>Jason Nawara</strong> is probably playing <strong>Smite</strong> right now.
              </div>
              <div class="messageinfo"><i class="icon-trophy"></i>Yesterday</div>
            </div>
        </li>

      </div>
    </ul>
  </div>

