<div class="downnblock">
  <ul>
    <% @messages.each do |m| %>
      <li>
        <%= m.content %>, written by <%= m.user.first_name %>, <%=m.created_at.strftime('%D at %H:%M.')%>
      </li>
    <% end %>
  </ul>
  <%= render 'messages/form-new', wedding: @wedding, task: @task, message: @message %>
</div>

