// Define variables for your color scheme

// TO DELETE:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// TO KEEP:
$header-grey: #726e6e;
$p-grey: #828080;
$text: #3b3a36;
$white: #FFFFFF;
$green-background: #c5d5cb;

.btn-cta {
  background-color: #8ad88a;
  color: white;
  border-color: white !important;
  border-radius: 5px !important;
  font-size: 21px !important;

  .hover {
  color: #726e6e
    }
   }


// LABELS

label {
    color: #726e6e !important;
     }



