// Specific CSS for your home-page

.home-page{

  // ---------> SOON TO BE WED / GUEST <--------------
  .icon {
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(33,37,41,.1), 0 7px 14px rgba(33,37,41,.1);
    font-size: 27px;
    width: 70px;
    height: 65px;
    line-height: 65px;
    margin-right: 60px !important;
    background-color: #FEFEFE;

  }

  h3{
    text-align: center;
    padding-bottom: 50px;
  }

  .flexrow {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    }


  .d-flex {
    display: flex !important;

  }

  .py-4 {
    padding-top: 170px;
    padding-bottom: 170px;
    display: flex !important;
    text-align: center;

  }

  .mb-4 {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }

  .px-4 {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-left: 12px;
    font-size: 20px;
    text-align: center;

    }

  .feature {
    border: 1px solid $blue;
    border-radius: 3px;
    box-shadow: 2px 2px 0px #aaa;
  }

  .description {
    margin-top: 30px;
    font-size: 14px;
    width: 92%;
  }

  .title {

    font-size: 22px;
  }

  .wedders {
    background-color: #F4F4F4;
     padding-top: 90px !important;
    padding-bottom: 90px !important;
  }

  // ---------> TESTIMONIAL <--------------

  .testimonials {
    background-color: white;
    padding: 50px;
    background-size: auto;
    padding-top: 90px !important;
    padding-bottom: 90px !important;

    }

  .section-title {
    font-size: 31px;
    margin: 0px !important;
    border-bottom-width:2px;
    border-bottom-color: black;
    border-bottom-style: solid;
    text-align: center;
    }

  // ---------> CONTACT <-------------------

  .contact {
    background-color: #F4F4F4 !important;
    padding: 50px;
    background-size: auto;
    padding-top: 100px;
    padding-bottom: 170px;
    font-size: 20px !important;
    }

  .card {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
    margin-top: 15px;
    color: white;
  }


  textarea {
    resize: none;
  }

  .btn {
    margin: auto;
    margin-top: 20px;
  }

}
