// Specific CSS for your home-page

.home-page{

  // ---------> SOON TO BE WED / GUEST <--------------
  .icon {
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(33,37,41,.1), 0 7px 14px rgba(33,37,41,.1);
    font-size: 27px;
    width: 70px;
    height: 65px;
    line-height: 65px;
    background-color: #FEFEFE;

  }

  h3{
    text-align: center;
    padding-bottom: 50px;
  }

  .flexrow {
    display: flex;

    align-items: center;
    justify-content: center;

    }


  .d-flex {
    display: flex !important;
  }

  .py-4 {
    padding-top: 70px;
    padding-bottom: 70px;

    text-align: center;

  }

  .mb-4 {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }

  .px-4 {
    width: 800px;
    font-size: 20px;
    text-align: center;
    padding: 25px;

    }

  .feature {
    border: 1px solid $blue;
    border-radius: 31px;
    box-shadow: 2.5px 2.5px 0px #D3D3D3;
    margin-left: 189px;
    max-width: 300px;
    max-height: 415px;
  }

  .feature:hover {
    box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

  .description {
    font-size: 12px;
  }

  .title {
    padding: 10px;
    font-size: 22px;
    padding-top: 20px;
  }

  .wedders {
    background-color: #F4F4F4;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  // ---------> TESTIMONIAL <--------------

  .testimonials {
    background-color: white;
    padding: 50px;
    background-size: auto;
    padding-top: 60px !important;
    padding-bottom: 100px !important;
    }

  .section-title {
    font-size: 31px;
    margin: 0px !important;
    border-bottom-width:2px;
    border-bottom-color: black;
    border-bottom-style: solid;
    text-align: center;
    }

  // ---------> CONTACT <-------------------

  .contact {
    background-color: #F4F4F4 !important;
    padding: 74px;
    background-size: auto;
    padding-top: 60px;
    font-size: 20px !important;
    }

  .card {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
    margin-top: 15px;
    color: white;
  }


  .btn {
    margin: auto;
    margin-top: 60px;
  }

}
