.new {
  background-color: white;
  font-size: 20px;
  padding-top: 15px;
}

.links {
  padding-top: 74px;
}

.links a {
  color : #726e6e !important;
  font-size: 15px;
}

.links a:hover {
  opacity: 1;
  color: #726e6e !important;
}

.section-title {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  text-align: center;
  color: #726e6e !important;
}

