.tasklist {

padding: 23px;
padding-top: 30px;

  .tasks {
    list-style: none;
    display: flex;

    .task {
      color: #726e6e;
      margin-bottom: 25px;
      margin-top: 9px;
      margin-left: 10px;
    }

    a {
      text-decoration: none;
     }

    img {
      margin: 9px;
    }

    .taskimage {
      margin: 11px;
      margin-right: 9px;
      border-radius: 3px;
  }
    .taskname {
      padding: 18px;
      color: white !important;
      font-size: 20px;
      font-family: 'Chivo', sans-serif;
      letter-spacing: 3px;
      border: 2px solid white;
      min-height: 130px;

  }

  .tasknotification {
      color: #726e6e;
      font-size: 13px;
      padding-top:6px;

  }

  .statut {
    margin-top: 8px;
  }



    .fa{
      font-size: 13px;
      color: #828080;

  }
  }

  .task-details {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .tasks-container {
    background-color: #c5d5cb;
    margin-top: 100px;
  }
}

  .discussion {
    ul {
  list-style: none;
  }
}
