.tasks {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: -0px;
  display: flex;
  .task {
    color: #726e6e;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 1px solid white;
    background-color: white;
  }

  .taskimage {

}
  .taskname {
}

  .taskstatut {

}
}

.task-details {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.tasks-container {
  background-color: #c5d5cb;
  margin-top: 100px;
}


.task-buttons {
  margin : 50px auto !important;
}

