<div class="tasks-container">
  <div class="row">
    <ul class="tasks" id="tasks-list">
      <% wedding.tasks.each do |task| %>
        <div class="col-xs-6 col-md-2 .offset-md-1">
          <%= link_to wedding_task_path(wedding, task) do %>
            <li class="task"><%= task.name  %></li>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <p> <%= link_to "New task", new_wedding_task_path(wedding), class: "btn btn-primary" %> </p>
    </div>
  </div>

</div>

<!--
<script>




const list = document.getElementById("tasks-list")
const taskItems = list.querySelectorAll("l")

console.log(taskItems);

taskItems.addEventListener("click", (event) => {
  event.currentTarget.toggleClass("active")
});

</script>
 -->
