<h3 class="text-center">
  <span class="section-title">My tasks</span>
</h3>

<div class= tasklist>
  <div class="container">
    <div class="row">
        <% wedding.tasks.each do |task| %>
        <div class="col-xs-6 col-md-3">
          <ul class="tasks">
            <%= link_to wedding_task_path(wedding, task) do %>
            <li class="task">
              <div class="taskname button">
                <strong> <%= task.name %> </strong>
                <div class="tasknotification">
                  <% if wedding.user == current_user %>
                    <% unless task.messages.where(read: false).count == 0 %>
                       <%= task.messages.where(read: false).count %> messages
                    <% end %>
                  <% else %>
                    COME
                  <% end %>
                    <div class= statut>
                      <% if task.statut %>
                        <i class="fa fa-check"></i>
                      <% else %>
                        <i class="fa fa-hourglass-half"></i>
                      <% end %>
                    </div>
                </div>
              </div>
              <% end %>
            </li>
          </div>
        <% end %>
      </ul>
    </div>
  </div>



<!-- pour ajouter icons


<script>




const list = document.getElementById("tasks-list")
const taskItems = list.querySelectorAll("l")

console.log(taskItems);

taskItems.addEventListener("click", (event) => {
  event.currentTarget.toggleClass("active")
});

</script>
 -->
