<div class="task-details">
  <p>For this task <%= task.name %> : </p>
  <%  private_elements = task.elements.where('public = ?', false) %>
  <%  public_elements = task.elements.where('public = ?', true) %>

  <h3>Private elements</h3>
  <p> (just for you) </p>
    <ul>
      <% private_elements.each do |element| %>
        <li><%= element.content %></li>
      <% end %>
    </ul>
  <h3>Public elements</h3>
  <p>(shared with your invit'hood)</p>
    <ul>
      <% public_elements.each do |element| %>
        <li><%= element.content %></li>
      <% end %>
    </ul>


</div>
