<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!----------- Contact us form -------------->

<div class="contact section-invert py-4">
  <h3 class="section-title text-center m-5">Contactez nous</h3>
  <div class="container py-4">
    <div class="row justify-content-md-center px-4">
      <div class="contact-form col-sm-12 col-md-10 col-lg-7 p-4 mb-4 card">
        <form>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="contactFormFullName">Nom</label>
                <input type="email" class="form-control" id="contactFormFullName" placeholder="Entrez votre nom">
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="contactFormEmail">Email</label>
                <input type="email" class="form-control" id="contactFormEmail" placeholder="Entrez votre email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                  <label for="exampleInputMessage1">Message</label>
                  <textarea id="exampleInputMessage1" class="form-control mb-4" rows="10" placeholder="Ecrivez ici..." name="message"></textarea>
              </div>
            </div>
          </div>
          <input class="btn btn-primary btn-pill d-flex ml-auto mr-auto" type="submit" value="Envoyer">
        </form>
      </div>
    </div>
  </div>
</div>
