<div class="nested-fields">
  <div class="row">
    <div class="form-inline">
      <div class="col-xs-8">
        <%= f.input :name %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-inline">
        <%= f.input :presence %>
      </div>
    </div>
  </div>
  <%= link_to_remove_association f do %>
    <%= icon('minus-circle') %>
  <% end %>
</div>
