<div class="container">
  <% if current_user[:id] == @wedding[:user_id] %>
    <h4>Create a new registry</h4>

    <%= render 'form' %>
    <%= link_to "Back to the wedding", wedding_path(@wedding) %>
  <% else %>

    <h1>This is not a wedding that your organize</h1>
    <p>Consequently, you won't create a new registry</p>

    <%= link_to "Back to the wedding", wedding_path(@wedding) %>
  <% end %>
</div>
