<div class="container">
  <div class="form-center">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">

        <% if current_user[:id] == @wedding[:user_id] %>
          <h4>Create a new registry</h4>

          <%= render 'form' %>
          <%= link_to "Back to the wedding", wedding_path(@wedding), class: "back-link"  %>
        <% else %>

          <h1>This is not a wedding that you organize</h1>
          <p>Consequently, you won't create a new registry</p>

          <%= link_to "Back to the wedding", wedding_path(@wedding), class: "back-link" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

