<div class="wedding-memories">
  <% if @wedding.passed?(@wedding) %>
    <div id="photo-memories">
      <%= simple_form_for(@wedding, @reviews) do |f| %>
          <%= f.input :photos, as: :attachinary %>
      <% end %>
    </div>
  <% end %>
</div>
