.attachinary_container > div {
  display: flex;
}

.flex_block {
  display: flex;
  flex-direction: column;
  img {
    padding: 3px;
  }
  // a:hover {
  //   background: darken(#c5d5cb, 5%);
  // }
}

.remove-photo.fa.fa-minus-circle {
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
  text-decoration: none;
}

.remove-photo:hover {
  color: darken(#c5d5cb, 5%);
  background: transparent !important;
  text-decoration: none;
  align-self: center;
}
.carousel {
  margin: 40px 0 30px 0;
}
input#wedding_album_photos.attachinary.optiona.attachinary-input {
  margin-bottom: 20px;
}
