// BUTTON SUBMIT/SEND


$green: #1ECD97;
$gray: #bbbbbb;

.container-button {
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -65px;
  margin-top: -20px;
  width: 130px;
  height: 40px;
  text-align: center;
}
button {
  margin-top: 70px;
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:15px;
  background: #c5d5cb;
  border: 2px solid white;
  letter-spacing:2px;
  text-shadow:0;
  font-size:20px;
  font-weight:bold;
  color: #726e6e !important;
  cursor: pointer;
  transition: all 0.25s ease;
  font-family: "Chivo", sans-serif !important;
  &:hover {
    color: white;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }

}

.validate {
  font-size:13px;
  color: white;
  background: $green;
  &:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }
}

