// BUTTON SUBMIT/SEND


$green: #1ECD97;
$gray: #bbbbbb;

button {
  outline:none;
  padding: 5px 20px;
  text-align: center;
  display: block;
  border-radius: 5px;
  background: #c5d5cb;
  border: 2px solid white;
  letter-spacing:2px;
  text-shadow:0;
  font-size:20px;
  font-weight:bold;
  color: #726e6e !important;
  cursor: pointer;
  transition: all 0.25s ease;
  font-family: "Chivo", sans-serif !important;
  &:hover {
    color: white;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }

}

.validate {
  font-size:13px;
  color: white;
  background: $green;
  &:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }
}

//===== Registry form CSS added by Aurel =====//
// .registry_guests_presence .checkbox {
//   display: none;
// }
#new_registry .links {
  padding: 0 0 10px 0;
}
a.back-link {
  color: #726e6e;
  text-decoration: none;
  padding: 0 15px;
}
a.remove_fields.dynamic {
  color: $green-background;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
a.add_fields {
  color: $green-background;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
.form-center {
  margin-top: 30px;
}
.edit_registry .links a {
  padding-top: 0;
}
//===== =====//
