#banner {
  color: white;
  text-align: center;
  padding: 200px;
  height: 100vh;
  width: 100%; //fallback
  width: 100vw;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}


#create, #attend{
  padding: 10px;
  background-color: #ccc;
  border-radius: 5px;
  color: #40A798;
  border-radius: 5px;;
}
#already_signed {
  color: #40A798;
  text-decoration: none;
}

.carousel-inner {
  height: 100vh;
}

.item {
text-align: center;
height: 100vh;
height: 100%;
width: 100%; //fallback
width: 100vw;
}


.carousel-inner {
  max-width: 100%;
  height: auto;
  line-height: 1;
}

#imagechange {
  display: center!important;
  height: 600px !important;

  opacity: 0.75;
}

.presentation {
  margin-top: 85px;
  margin-bottom: 29px;
}

.carousel-caption {
 font-family: 'Dancing Script', cursive;
 color: white;
 padding-bottom: 50px !important;
}


.carousel-font1 {
  font-size: 30px !important;
  margin-bottom: 10px;
  font-family: 'Chivo', sans-serif;
  font-style: italic;
}

.carousel-font2 {
  font-size: 20px !important;
  font-family: 'Chivo', sans-serif;
  font-style: italic;

}

// .banner p {
//   font-size: 25px;
//   font-weight: lighter;
//   color: rgb(255, 255, 255);
//   opacity: 0.6;
//   margin-bottom: 30px;
// }
