.messages-block {
  background: #fefefe;
  padding: 15px;
  overflow: auto;
  height: 230px;

  .message.frame {
    background-color: #dce5df;
    width: 60%;
    display: flex;
    border-radius: 5px;
  }

  .message-wrapper {
    display: flex;
    padding: 15px;
  }

  .message-body {
    flex: 0 0 70%;
    margin-left: 40px;
    justify-content: center;
    align-items: center;

       p {
        margin-top: 15px;
    }
  }

  .message-name {
    justify-content: center;
    p {
      margin: 10px;
      font-size: 10px;
      font-weight: 300;
    }
  }

  .message-wrapper.wedder {
    justify-content: flex-start;
  }

  .message-wrapper.invited {
    justify-content: flex-end;
  }

  .avatar-smaller{
    padding: 5px;
 }
}
