/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(197,213,203,0.2),0 1px 0 0 rgba(197,213,203,0.03);
  // background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
}
/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: $p-grey;
  font-size: 16px;
  padding: 0 20px;
}
.navbar-wagon-link:hover {
  color: darken($p-grey, 20%);
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  border-radius: 5px !important;
  padding: 7px;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $p-grey !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
  text-decoration: none;

}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  // height: 10px;
  // width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.ddtext {
  color: #828080 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 7px;
  font-family: 'Tenor Sans', sans-serif;

  .fa {
    margin-left: 20px;
  }
}


