.tabs-wrapper {
  background: #756A66;
  margin-bottom: 30px;
}

.tabs {
  display: flex;
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  // background: #756A66;
  flex: 0 0 25%;
  text-align: center;
  padding: 10px 0;
}
// .tab:first-child {
//   border-radius: 10px 0 0 0;
// }
// .tab:last-child {
//   border-radius: 0 10px 0 0;
// }
.tab.active {

  border-bottom: 3px solid $green;
}

