.tabs-wrapper {
  // background: #756A66;
  margin-bottom: 30px;
}


.tabs {
  display: flex;
  margin: 5px 0;
  background-color: $green-background;
  border-radius: 3px;
}
.tabs a {
  color: $p-grey;
  text-decoration: none;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tab.date-tab {
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs h3 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  // background: #756A66;
  flex: 0 0 20%;
  text-align: center;
  padding: 10px 0;
}
// .tab:first-child {
//   border-radius: 10px 0 0 0;
// }
// .tab:last-child {
//   border-radius: 0 10px 0 0;
// }
.tab.active {

}

