.wedding-informations {
  display: flex;
  align-items: center;


  .spouse-photo img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }

  .spouse-photo {
    margin-right: 20px;
  }

  .details {
    flex: 1 0 auto;
    padding: 15px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin-bottom: 5px;
    }

    li:last-child {
      margin: 0;
    }

    li.primary {
      color: #555;
    }

    li.secondary {
      color: #888;
    }

    li i {
      width: 30px;
    }
  }
}

.wedding-description {
  margin: 25px 0;
}
.wedding-description blockquote {
  font-size: 18px;
  text-align: justify;
}

.presence-block {
  margin-top: 40px;

  .button-show {
    width: 50%;
  }
}

.task-block {
  padding: 24px;
}

.weddings.show {
  .button {
    display: inline-block;
    width: auto;
  }
}




.w3-display-container{position:relative}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

.attachinary_container ul {
  text-decoration: none;
}
