.tabs-wrapper {
  // background: #756A66;
  margin-bottom: 40px;
}

.tabs {
  display: flex;
  margin: 0px 0px 30px 0px;
  background-color: $green-background;
  border-radius: 0px 0px 3px 3px;
}
.tabs a {
  color: $p-grey;
  text-decoration: none;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tab.date-tab {

  display: flex;
  align-items: center;
  justify-content: center;
    h3{
      color: $white !important;
  }
}

.tabs h3 {
  font-size: 20px;
  // font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  color: #828080;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  // background: #756A66;
  flex: 0 0 20%;
  text-align: center;
  padding: 10px 0;
  top: 10px;
}
// .tab:first-child {
//   border-radius: 10px 0 0 0;
// }
// .tab:last-child {
//   border-radius: 0 10px 0 0;
// }

.guest-tab {
  color: $white;
  // align-items: center;
  // justify-content: center;
  text-align: center;
  padding: 10px 0;

}

.guest-tabs {
  display: flex;
  justify-content: center;
  background-color: $green-background;
  border-radius: 0px 0px 3px 3px;
  width: 100px;
  margin-top: 15px;
}
.guest-tabs h3 {
  padding: 10px 0;
  margin: 0;
  font-size: 20px;
}
