// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


abbr {
  display: none;
}

.form-center {
  display: flex;
  justify-content: center;
}

//===== registry show =====//
.guest-content {
  margin-top: 50px;
}
.guest_details {
  // background-color: $green-background;
  border-left: 1px solid $p-grey;
  border-right: 1px solid $p-grey;
  border-bottom: 1px solid $p-grey;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: $p-grey;
  margin-bottom: 15px;
}

.guest_details th {
  border-bottom: 1px solid $p-grey;
  color: #333;
}

.guest_details td, .guest_details th {
  padding: 10px 35px;
}
.guest-email {
  background-color: #ddd;
  border-radius: 5px 5px 0 0;
  color: $p-grey;
}

.guest-email p {
  margin: 0;
  padding: 15px 10px;
}
.guest-link {
  display: flex;
  justify-content: center;
}
.guest-link a {
  color: $p-grey;
  text-decoration: none;
  padding: 0 5px;
  margin: 5px 0;
}
.guest-link a:nth-child(2) {
  border-left: 1px solid $p-grey;
  border-right: 1px solid $p-grey;
}
