// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


abbr {
  display: none;
}


.links {
  padding-top: 20px;

}

.links a {
  color : #726e6e !important;
  font-size: 15px;
  padding: 5px;
  margin: -3px;
}

.links a:hover {
  opacity: 1;
  color: #726e6e !important;
}


.links a:nth-child(n+2){
  border-left: 1px solid $p-grey;
    }



