// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

// weddings/:wedding_id/registries/new
#new_registry span {
  display: block;
}
.registry_guest {
  display: none;
}

// span#add_a_guest {
//   background-color: pink;
//   height: 12px;
//   width: 12px;
//   color: black;
//   border-radius: 50%;
//   text-align: center;
//   line-height: 11px;
//   font-size: 18px;
// }

.guest_details {
  color: red;
}
